*{
    box-sizing: border-box;
     margin: 0;
    padding: 0;

} 
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
ul{
    list-style: none;
    
    height: 20px;
}
.submenu{
    display: none;



}
.submenu:target{
    display: block;
    margin-top: 10px;
    height: 100%;
    
}




.menu{
    display: flex;
    gap: 20px;
    background-color: rgb(244, 143, 177);
    color:rgb(33, 47, 61);
    justify-content: center;
    padding: 10px 0;
    height: 40px;
    
}
.AguaHorchata{
    width: 300px;
    height: 200px; 
    object-fit: cover;
}
.Pinacolada{
    width: 300px; ;
    height: 300px;
}
.Dip{
    width: 300px;
    height: 300px;
    object-fit: cover;
}
.enlace{
    color: white;
    text-decoration: none;
}
