* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contenedor {
  width: 200vw;
  height: 300vw;
}

div.sidebar {
  position: static;
  background-color: rgb(229, 134, 238);
  width: 300px;
  height: 50%;
  overflow: auto;
}

a {
  display: block;
  text-decoration: none;
  padding: 5px;
}

a:hover {
  background-color: rgb(83, 113, 179);
  color: white;
}

div.content {
  float: left;
  width: calc(100% - 200px);
  background-color: rgba(250, 61, 171, 0.74);
  padding: 1px 16px;
  height: 100%;
}

.contenidoOpcion {
  display: none;
}

input {
  display: none;
}

input:checked + .sidebar {
  display: none;
}

.h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.contenedorNombre {
  background-color: palegreen;
}

@media screen {
  div.sidebar {
    float: none;
    width: 50%;
    height: auto;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  }
  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
    width: 50%;
  }
}


.escondido {
  display: none;
}






